body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;

  background-color: white;
  border-radius: 10px;
  border: 1px solid;
  border-color: lightgrey;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

textarea {
  width: 96%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  margin-bottom: 20px;
}

textarea:focus {
  outline: none;
  border-color: #4a90e2;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #357ab7;
}

.reply {
  margin: 10px;
  color: #666;
  height: 30%;
}

.reply_writer {
  font-size: 24px;
}

.title {
  text-align: center;
}
